server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:./data/device-monitor-db;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
  h2:
    console:
      enabled: true
      path: /h2

logging:
  level:
    root: INFO
    com.tiarnan.devicemonitor: INFO
